@font-face {
    font-family: keysFont;
    src: url(../fonts/KeyCapsFLF.ttf);
}

.tp {
    text-decoration: underline overline dotted;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-size: 50% !important;
}

img[src$='#cnt'] {
    border: 2px double darkred !important;
    z-index: 100 !important;
    position: absolute !important;
    margin-left: auto !important;
    margin-right: auto !important;
    left: 0 !important;
    right: 0 !important;
    /*bottom: 0px !important;*/
    line-height: 50% !important;
}

img[src$='#invert'] {
    filter: invert(100%);
}

img[src$='#cnt2'] {
    max-width: 85% !important;
    max-height: 85% !important;
    margin: 0px 0px !important;
    background: none !important;
    border: none !important;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.15) !important;
}


.slide-background.text-bg-bw.present {
    -webkit-filter: sepia(1) hue-rotate(2deg) brightness(.5);
    filter: sepia(1) hue-rotate(2deg) brightness(.5);
    /*filter: opacity(10%);
    background-position-y: 10%;*/
}

.slide-background.no-print.present {
    -webkit-filter: sepia(1) hue-rotate(2deg) brightness(.2);
    filter: sepia(1) hue-rotate(2deg) brightness(.2);
}
section.text-bg-txt.present{
    /*color: white;*/
}
.slide-background.text-bg-txt.present {
    -webkit-filter: sepia(1) hue-rotate(2deg) brightness(.8) blur(1px);
    filter: sepia(1) hue-rotate(20deg) brightness(.8) blur(1px) opacity(20%);
    background-position: 50% 20% !important;
}

.slide-background.text-bg-clr.present {
    -webkit-filter: sepia(0.3) brightness(.5);
    filter: sepia(0.3) brightness(.5);
}